name: CI

on:
  push:
    branches: [ main ]
  pull_request: {}

jobs:

  check:
    name: Check w/ ${{ matrix.deno-version }}
    runs-on: ubuntu-latest
    permissions:
      contents: read

    strategy:
      matrix:
        deno-version:
        - v2.3
        - canary
      fail-fast: false # run each branch to completion

    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v2
      with:
        deno-version: ${{ matrix.deno-version }}

    - name: Cache Deno
      uses: actions/cache@v4
      with:
        path: ~/.cache/deno
        key: denodir/v1-${{ matrix.deno-version }}-${{ github.sha }}
        restore-keys: denodir/v1-${{ matrix.deno-version }}-

    - name: Check deno.lock
      run: deno install --frozen

    - name: Check publish rules
      run: time deno publish --dry-run --allow-dirty

  publish:
    runs-on: ubuntu-latest
    needs: check
    if: github.event_name == 'push'

    permissions:
      contents: read
      id-token: write

    steps:
    - uses: denoland/setup-deno@v2

    - uses: actions/checkout@v6

    - name: Publish now
      run: deno publish
